/* removing radius from bootstrap*/
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
/* small header Nav */
hr {

}
body{
  background-color: #f8f8f8;
}

/* navbar */
.navbar-default {
    background-color: #004988;
    border-color: #004988;
}
/* title */
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #2980b9;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #3498db;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #3498db;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
    }
}
.padding-custom{
  padding-bottom: 15px;
}
.custom-padding-left{
  padding-left: 15px;
}
.custom-align-right{

}
.btn-default {
    color: #004988;
    background-color: #fff;
    border-color: #004988;
}
.btn-default:hover ,.btn-default:active ,.btn-default:focus {
    color: #fff;
    background-color: #004988;
    border-color: #004988;
}

img.banner {
    width: 100%;
    height: auto;
}
hr.custom-hr{
    border:none;
    height: 2px;
    /* Set the hr color */
    color: #004988; /* old IE */
    background-color: #004988; /* Modern Browsers */
}
.outer {

    display: -webkit-box;
    -webkit-box-align: center;

    display: -moz-box;
    -moz-box-align: center;

    display: -ms-flexbox;
    -ms-flex-align: center;

    display: box;
    box-align: center;
        -webkit-align-items: center;
  align-items: center;
}
.custom-background{
  color: #fff;
  background-color: #004988;
  
}
.panel-body-custom{
  padding-left:15px;
}
.custom-panel-padding{
  padding-top: 15px;
  padding-bottom:15px;
}

